@import url('https://fonts.googleapis.com/css2?family=Play&family=Press+Start+2P&display=swap');


/*-------------------------------------Special paddings/margins/text */ 

* { box-sizing: border-box; margin: 0; padding:0; }

html {
    height: 100%;
    width: 100%;
}

body { 
    margin: 0;
}

h2 {
    font-family: "press Start 2P", sans-serif;
    color: #FFA3A3;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    -webkit-text-stroke: 2px black;
    margin: auto;
    margin-top: 25px;
}


/*------------------------------------- Welcome screen & game over screen*/ 

.game-info {
    margin: auto;
    padding: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 100;
    background-color:rgba(132, 132, 132, 0.5);
}

.avatar {
    text-align: center;
    padding: 10px;
    margin: 20px;
}

.instruction {
    font-family: "play", sans-serif;
    color: #000;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    padding: 10px;
}

.buttons {
    text-align: center;
    padding: 10px;
}

.play-button, .sound-button {
    font-size: 25px;
    font-weight: 700;
    color: #000;
    background-color: #FFA3A3;
    border-color: #000;
    border-radius: 5px;
    margin: 15px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.sound-button {
    padding-left: 25px;
    padding-right: 25px;
}

.scoreboard {
    background-color: #FFA3A3;
    border: 3px solid #000;
    border-radius: 10px;
    width: 70%;
    padding: 10px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 20px;
}

.score {
    font-family: "play", sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-align: center; 
    padding: 5px;
    margin: 15px; 
}

/*------------------------------------- responsiveness of game */ 

.wrapper {
   display: table;
   padding: 0;
   width: 100%;
   height: 100%;
   position: absolute;
}

.container {
    position: relative;
    max-width: 768px;
    min-width: 320px;
    max-height: 1024px;
    margin: 0 auto;
}

/*------------------------------------- The game */ 

#game {
    border: 1px solid black;
    display: block;
    margin: 0 auto;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.sky {
    background-color: #3B6CB5;
    width: 100%;
    height: 90vh;
    position: absolute;
}

.ground {
    background-color: #2b2929;
    width: 100%;
    height: 10vh;
    position: absolute;
    top: 90%;
}

.bird {
    background-color: #ffff01;
    border-radius: 50%;
    position: absolute;
    width: 30px;
    height: 30px;
}

.pipe {
    background-color: green;
    width: 60px;
    height: 300px;
    position: absolute;
}

/*------------------------------------- Media Queries | for desktop and iPad pro */

@media (min-width: 1024px) and (min-height: 600px) {
    .game-info {
        margin: auto;
        margin-top: 20px;
        padding: 10px;
        height: fit-content;
        width: 80%;
        position: relative;
        background-color: rgb(199 144 144 / 50%);
    }
}
